body{
  background-image: url('./imgs/1000x667_Blog_ChessQueen.jpg');
  padding: 0;
}

.container {
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 100vh;
}

@media only screen and (min-width: 600px){
  .container{
    width: 75vw;
    margin: 0 auto 0 auto;
  }
}